@import './variables.scss';
@import './element-plus.scss';
@import './element-plus.css';
@import './vxe-table.css';
@import './flex-box.scss';
@import './mixin.scss';

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  * {
    @extend %scrollbar;
  }
}
#app {
  height: 100%;
  width: 100%;
}
